body {
    background-color: lightgrey;
    font-family: Lato, Helvetica, sans-serif;
}

.nav-size {
    font-size: 15pt;
}

.box {
    background-color: #7c906d;
    display: block;
    width:460px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box1 {
    background-color: mediumseagreen;
    display: block;
    width:460px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid {
    width: 50px;
    display: contents;
    flex-direction: row;
    justify-content: center;
}
.vehicle-group {
    width: 100px;
    width: 20%;
}

.gridText {
    width: 100%;
    display: block;
    flex-direction: row;
    justify-content: center;
}

.validationError{
    color: firebrick;
}


