body {
    background-color: aliceblue;
}

#title {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.grid {
    width: 50px;
    display: contents;
    flex-direction: row;
    justify-content: center;
}
.vehicle-group {
    width: 100px;
    width: 20%;
}

.gridText {
    width: 100%;
    display: block;
    flex-direction: row;
    justify-content: center;
}

.validationError{
    color: firebrick;
}

.box {

    background-color: darkolivegreen;
    width: 300px;
    border: 15px deepskyblue;
    padding: 50px;
    margin: 20px;

}

