<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Display Vehicle Data</title>
    <link rel="stylesheet", th:href="@{/styles.css}"/>
</head>
<body>
    <h1 id="title">Vehicles Saved</h1>
    <img th:src="@{images/lambo.jpg}"/>

    <div class="box" style="background-color: beige;" th:each="Vehicle: ${vehicles}">

        <h3 th:text="'Type: ' + ${Vehicle.category.type}"></h3>
        <h3 th:text="'Make: ' + ${Vehicle.make}"></h3>
        <h3 th:text="'Model: ' + ${Vehicle.model}"></h3>
        <h3 th:text="'Color: ' + ${Vehicle.color}"></h3>
        <h3 th:text="'Year: ' + ${Vehicle.year}"></h3>
        <h3 th:text="'Ticket: ' + ${Vehicle.ticket}"></h3>
        <h3 th:text="'Location: ' + ${Vehicle.location}"></h3>
        <h3 th:text="'Plate Number: ' + ${Vehicle.plate}"></h3>
        <h3 th:text="'Created at: ' + ${Vehicle.createdAt}"></h3>

    </div>

</body>
</html>