<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:insert="fragments/base :: contentHead"></head>

<body>
<nav th:insert="fragments/base :: navigation"></nav>

    <div class="container-fluid mt-5">

        <div class="row justify-content-center">
            <h1 class="col-12 text-center" th:text="${'Hi, ' + username}">Hi</h1>
        </div>

        <div class="row justify-content-center">
            <h1 class="col-12 text-center">Vehicles Saved</h1>
        </div>

        <div th:replace="fragments/base :: bodyImage"></div>

        <div class="text-center">
            <div class="box" th:each="Vehicle: ${vehicles}">
                <h3 th:text="'Type: ' + ${Vehicle.category.type}"></h3>
                <h3 th:text="'Make: ' + ${Vehicle.make}"></h3>
                <h3 th:text="'Model: ' + ${Vehicle.model}"></h3>
                <h3 th:text="'Color: ' + ${Vehicle.color}"></h3>
                <h3 th:text="'Year: ' + ${Vehicle.year}"></h3>
                <h3 th:text="'Ticket: ' + ${Vehicle.ticket}"></h3>
                <h3 th:text="'Location: ' + ${Vehicle.location}"></h3>
                <h3 th:text="'Plate Number: ' + ${Vehicle.plate}"></h3>
                <h3 th:text="'Created at: ' + ${Vehicle.createdAt}"></h3>
            </div>
        </div>

    </div>

    <div th:replace="fragments/base :: script"></div>

</body>
</html>