<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:insert="fragments/base :: contentHead"></head>

<body>
    <nav th:insert="fragments/base :: navigation"></nav>

    <div th:replace="fragments/base :: errorTitleAndImage"></div>

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h2>Looks like you are offline!! Try Again!!</h2>
        </div>
    </div>

</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>