<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Valet Parking</title>
    <style>
        h1 {
            text-align: center;
            font-size: 50px;
            color: coral;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>
<h1>Welcome to ValPal....</h1>
<img th:src="@{/images/valetHome.jpg}"/>
</body>
</html>