<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:insert="fragments/base :: contentHead"></head>

<body>
    <div th:replace="fragments/base :: navigation"></div>

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h1 class="col-12 text-center">Update Vehicle!</h1>
        </div>
        <div th:replace="fragments/base :: bodyImage"></div>
    </div>

    <form class="container-fluid" method="post"
          th:action="@{/modify/update/{vehicleId}(vehicleId=${vehicle.id})}" th:object="${vehicle}">
        <div class="row justify-content-center">
            <div class="justify-content-center mt-2">
                <label class="col-form-label text-center font-weight-bold">Select Vehicle Type: </label>
                <div th:each="category: ${categories}">
                    <label th:text="${category.type}">CATEGORY</label>
                    <input type="radio" th:field="*{category}" th:value="${category.id}"/>
                </div>
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <span class="form-control-sm col-2 validationError"
                  th:if="${#fields.hasErrors('category')}"
                  th:errors="*{category}">Category Error</span>
        </div>

        <div class="row form-group justify-content-center">
            <label class="col-form-label col-1 text-right font-weight-bold" for="make">Make: </label>
            <input class="form-control col-5 col-md-2" type="text" th:field="*{make}" id="make"/>
        </div>
        <div class="row form-group justify-content-center">
            <span class="form-control-sm col-2 validationError"
                  th:if="${#fields.hasErrors('make')}"
                  th:errors="*{make}">Make Error</span>
        </div>

        <div class="row form-group justify-content-center">
            <label class="col-form-label col-1 text-right font-weight-bold" for="model">Model: </label>
            <input class="form-control col-5 col-md-2" type="text" th:field="*{model}" id="model"/>
        </div>
        <div class="row form-group justify-content-center">
            <span class="form-control-sm col-2 validationError"
                  th:if="${#fields.hasErrors('model')}"
                  th:errors="*{model}">Model Error</span>
        </div>

        <div class="row form-group justify-content-center">
            <label class="col-form-label col-1 text-right font-weight-bold" for="color">Color: </label>
            <input class="form-control col-5 col-md-2" type="text" th:field="*{color}" id="color"/>
        </div>
        <div class="row form-group justify-content-center">
            <span class="form-control-sm col-2 validationError"
                  th:if="${#fields.hasErrors('color')}"
                  th:errors="*{color}">Color Error</span>
        </div>

        <div class="row form-group justify-content-center">
            <label class="col-form-label col-1 text-right font-weight-bold" for="year">Year: </label>
            <input class="form-control col-5 col-md-2" type="text" th:field="*{year}" id="year"/>
        </div>
        <div class="row form-group justify-content-center">
            <span class="form-control-sm col-2 validationError"
                  th:if="${#fields.hasErrors('year')}"
                  th:errors="*{year}">Year Error</span>
        </div>

        <div class="row form-group justify-content-center">
            <label class="col-form-label col-1 text-right font-weight-bold" for="ticket">Ticket: </label>
            <input class="form-control col-5 col-md-2" type="text" th:field="*{ticket}" id="ticket"/>
        </div>
        <div class="row form-group justify-content-center">
            <span class="form-control-sm col-2 validationError"
                  th:if="${#fields.hasErrors('ticket')}"
                  th:errors="*{ticket}">Ticket Error</span>
        </div>

        <div class="row form-group justify-content-center">
            <label class="col-form-label col-1 text-right font-weight-bold" for="location">Spot: </label>
            <input class="form-control col-5 col-md-2" type="text" th:field="*{location}" id="location"/>
        </div>
        <div class="row form-group justify-content-center">
            <span class="form-control-sm col-2 validationError"
                  th:if="${#fields.hasErrors('location')}"
                  th:errors="*{location}">Spot Error</span>
        </div>

        <div class="row form-group justify-content-center">
            <label class="col-form-label col-1 text-right font-weight-bold" for="plate">Plate: </label>
            <input class="form-control col-5 col-md-2" type="text" th:field="*{plate}" id="plate"/>
        </div>

        <div class="row form-group justify-content-center">
            <span class="form-control-sm col-2 validationError"
                  th:if="${#fields.hasErrors('plate')}"
                  th:errors="*{plate}">Plate Error</span>
        </div>

        <div class="row form-group justify-content-center">
            <a th:href="@{/display_vehicle}" class="btn btn-outline-dark btn-lg col-auto form-group mr-2">Cancel</a>
            <input class="btn btn-outline-dark btn-lg col-auto form-group" type="submit" value="Update"/><br/>
        </div>
    </form>

    <div th:replace="fragments/base :: footer"></div>

</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>