<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Valet Parking</title>
    <link rel="stylesheet", th:href="@{/styles.css}"/>

</head>
<body>
    <h1 id="title">VALPAL</h1>
    <img th:src="@{/images/lambo.jpg}"/>

    <h3>Thank you for your submission</h3>
    <a th:href="@{/vehicle}" id="another"><h2>Log another vehicle</h2></a><br/>

    <nav>
        <form method="post" th:action="@{/logout}">
            <button type="submit">Logout</button>
        </form>
    </nav>

</body>
</html>