<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Valet Parking</title>
<!--    <link rel="stylesheet", th:href="@{styles.css}"/>-->

    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 id="title">VALPAL</h1>
    <img th:src="@{images/lambo.jpg}"/>
    <h1>Thank you for your submission</h1>
</body>
</html>