<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Valet Parking</title>
    <link rel="stylesheet", th:href="@{styles.css}"/>
</head>
<body>
<h1 id="title">Log Vehicle Information!!</h1>
<img th:src="@{images/lambo.jpg}"/>

<div class="grid">
    <div class="vehicle-group" id="sedans">
        <h3>Sedan:</h3>
        <div th:each="vehicle : ${sedan}">
            <input name="vehicles" type="checkbox" th:value="${vehicle.make}"/>
            <span th:text="${vehicle.model}">VEHICLE</span><br/>
        </div>
    </div>

    <div class="vehicle-group" id="coupes">
        <h3>Coupe:</h3>
        <div th:each="vehicle : ${coupe}">
            <input name="vehicles" type="checkbox" th:value="${vehicle.make}"/>
            <span th:text="${vehicle.model}">VEHICLE</span><br/>
        </div>
    </div>

    <div class="vehicle-group" id="pickups">
        <h3>Trucks:</h3>
        <div th:each="vehicle : ${pickup}">
            <input name="vehicles" type="checkbox" th:value="${vehicle.make}"/>
            <span th:text="${vehicle.model}">VEHICLE</span><br/>
        </div>
    </div>

    <div class="vehicle-group" id="luxuries">
        <h3>Luxury:</h3>
        <div th:each="vehicle : ${luxury}">
            <input name="vehicles" type="checkbox" th:value="${vehicle.make}"/>
            <span th:text="${vehicle.model}">VEHICLE</span><br/>
        </div>
    </div>

    <div class="vehicle-group" id="compacts">
        <h3>Compact:</h3>
        <div th:each="vehicle : ${compact}">
            <input name="vehicles" type="checkbox" th:value="${vehicle.make}"/>
            <span th:text="${vehicle.model}">VEHICLE</span><br/>
        </div>
    </div>

    <div class="vehicle-group" id="suvs">
        <h3>SUV:</h3>
        <div th:each="vehicle : ${suv}">
            <input name="vehicles" type="checkbox" th:value="${vehicle.make}"/>
            <span th:text="${vehicle.model}">VEHICLE</span><br/>
        </div>
    </div>

    <div class="vehicle-group" id="minivans">
        <h3>Minivan:</h3>
        <div th:each="vehicle : ${minivan}">
            <input name="vehicles" type="checkbox" th:value="${vehicle.make}"/>
            <span th:text="${vehicle.model}">VEHICLE</span><br/>
        </div>
    </div>

    <div class="vehicle-group" id="convertibles">
        <h3>Convertible:</h3>
        <div th:each="vehicle : ${convertible}">
            <input name="vehicles" type="checkbox" th:value="${vehicle.make}"/>
            <span th:text="${vehicle.model}">VEHICLE</span><br/>
        </div>
    </div>
</div>

<div class="gridText">
    <div class="vehicle-input" id="color">
        <h3>Color:</h3>
        <div>
            <input name="color" type="text"/>
        </div>
    </div>

    <div class="vehicle-input" id="year">
        <h3>Year:</h3>
        <div>
            <input name="year" type="text"/>
        </div>
    </div>

    <div class="vehicle-input" id="ticket">
        <h3>Ticket Number:</h3>
        <div>
            <input name="ticket" type="text"/>
        </div>
    </div>

    <div class="vehicle-input" id="location">
        <h3>Location:</h3>
        <div>
            <input name="location" type="text"/>
        </div>
    </div>

    <div class="vehicle-input" id="plate">
        <h3>Plate Number:</h3>
        <div>
            <input name="plate" type="text"/>
        </div>
    </div>
</div>

</body>
</html>